[run]
source =
    src/main/backend

[report]
show_missing = True
skip_covered = False
fail_under = 80
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

[xml]
output = coverage/backend-coverage.xml
